@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* font-size: 16px; */
    font-size: 1.111vw;
}
.miama-font{
    font-family: 'Miama', sans-serif;
}


/***Variables***/
:root{
    --color-orange:rgba(230, 83, 60, 1);
    --regular-text-color: rgba(255, 255, 255, 0.5);
    --other-text-color:rgba(255, 255, 255, 1);
}
/***Shared Styles***/
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
main{
    padding: 0% 13.19%;
}
section{
    margin-top: 9.57%;
}
.text-regular{
    color:var(--regular-text-color);
    font-size: 0.875rem;
    margin: 0;
    line-height: 1.714;
    letter-spacing: 2.14%;
}
.section-title{
    margin: 0;
    margin-bottom: 14px;
    font-size: 3rem;
    font-weight: 900;
    color: var(--other-text-color);
    line-height: 120%;
}
.btn-primary{
    color: var(--other-text-color);
    background-color: var(--color-orange);
    text-align: center;
    border-radius: 42px;
    font-size: 1.125rem;
    border: none;
}
.display-flex{
    display: flex;
}
/***Header***/
header{
    margin: 0;
    padding: 3.9583% 13.19% 0%;
    background: linear-gradient(to bottom, rgba(119, 119, 119,0.3)0%,rgba(17, 17, 17, 1) 100% );
}

/*Nav Bar related Style*/
.nav{
    justify-content: space-between;
    align-items: center;
}
.fitness-title{
    color: var(--color-orange);
    font-size:2.25rem;
    font-style: italic;
    font-weight:900;
    margin: 0;
}
.nav-item-list{
    box-sizing: border-box;
    padding: 0.860215%;
    padding-right: 4.301%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    list-style: none;
    width: 43.867%;
    border-radius: 39px;
}
.item{
    color: var(--other-text-color);
    text-align: center;
    font-size: 1.125rem;

}
#item-home{
    font-weight: 600;
    box-sizing: border-box;
    width: 19.784%;
    padding:1.72% 4.301% ;
    border-radius: 46px;
    border: none;
    background-color: var(--color-orange);
}
.hamburger{
    display: none;
}

/* Banner Related Style */
.banner{
    align-items: center;
    gap: 15.75%;
    padding-top: 3.0188%;
}
.banner-content{
    flex-direction: column;
    width: 56.5141%;
    gap: 4.6744%;
}
.banner-title{
    color: var(--other-text-color);
    font-size: 4.875rem;
    line-height: 1.2;
    font-weight: 900;
    margin: 0;
    
}

#title-shape{
    display: inline-block;
    width: 36.8%;
    transform-origin: left;
    font-weight: 200;
    font-size: 4.875rem;
    transform: scale(1.95);
}

.banner-content p{
    color: rgba(255, 255, 255, 0.5);
}

.banner-btn-container{
    gap:2.6923%;
}
.banner-btn-container button{
    width: 43.07%;
    aspect-ratio: 224/54;
}

#download-app-btn{
    border: 1px solid white;
    background-color: transparent;
}
.hero-container{
    width: 32.924%;
    aspect-ratio: 349/580;
    position: relative;
}
.hero-container>img{
    display: block;
    width: 100%;
}
.videos{
    position: absolute;
    width: 57.306%;
    aspect-ratio: 200/97;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    padding-top: 5.157%;
    padding-bottom: 5.157%;
}

.tutorial-videos{
    justify-content: center;
    align-items: center;
    gap: 6%;
    top: 72.586%;
    left: -31.920% ;
}
.orange-ball{
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-orange);
    
}
.tutorial-title{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 900;
    color:var(--other-text-color);
}
.tutorial-text{
    color: rgba(239, 237, 232, 0.65);
    margin: 0;
    padding: 0;
}
.workout-videos{
    text-align: center;
    top: 21.5517%;
    right: -21.203%;
}

.workout-title{
    margin: 0;
    font-size: 2.5rem;
    color: var(--other-text-color);
    font-weight: 900;
}

.workout-text{
    margin: 0;
    padding: 0;
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.65);
}   


/* ****Habit Section Related Styles**** */
.habit-section{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.habit-intros{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8.64%;
    width: 64.27%;
    aspect-ratio: 671/120;
} 

.habit-container{
    display: grid;
    grid-template-columns: repeat(4, 22.126%);
    justify-content: space-between;
}
.habit{
    text-align: center;
}
.habit-display{
    width: 77.92%;
    margin: 0 auto 16.66%;
    aspect-ratio: 1;
}
.habit-display img{
    width:100%;
    border-radius: 50%;
}
.habit-name{
    margin: 0;
    margin-bottom: 2.597%;
    line-height: 120%;
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--other-text-color);
}

/*****Responsive Styles*****/
/* Small device */

@media screen and (max-width: 576px) {

    /***Root Font***/
    .inter-font{
        font-size: 4.07vw;
    }

    /***Shared Styles***/
    header, main{
        padding-left:5.089%;
        padding-right: 5.089%;
    }
    .banner{
        flex-direction: column;
    }
    section{
        margin-top: 18.696%;
    }
    .habit-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-content, .hero-container{
        width: 100%;
    }
    .section-title{
        font-size: 2rem;
    }
    
    /****Header****/
    header{
        padding-top: 13.23%;
        padding-bottom: 0%;
    }
    /* nav-bar related styles */
    .nav-item-list{
        display: none;
    }
    .hamburger{
        width: 6.7988%;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        gap: 16.67%;
        margin: 0;
    }
    .hamburger div{
        width: 75%;
        aspect-ratio: 9 / 1;
        background-color: var(--other-text-color);
        border-radius: 1px;
    }


    /* banner-related styles */
    .banner{
        padding-top: 14.48%;
        gap: 13.5977%;
    }
    .banner-title{
        font-size: 2.25rem;
    }
    .banner-content{
        gap: 8.35%;
    }
    #title-shape{
        width: 27.3%;
        font-size: 2.25rem;
        transform: scale(1.95);
    }
    .banner-content p{
        width: 77.62%;
    }
    .banner-btn-container{
        justify-content: space-between;
    }
    .banner-btn-container button{
        width: 48.011%;
        aspect-ratio: 169/54;
    }
    #download-app-btn{
        border: 1px solid white;
    }
    .hero-container{
        aspect-ratio: 349/580;
        position: relative;
    }

    .tutorial-videos{
        width: 44.1189%;
        height: 12.34%;
        gap: 5.823%;
        top: 46.06%;
        left: 3.3994% ;
        padding-top: 9.07%;
        padding-bottom: 9.07%;
        border-radius: 9.07px;
    }
    .orange-ball{
        width: 20%;
        aspect-ratio: 1;
    }
    .tutorial-title{
        font-size: 1.13375rem;
    }
    .tutorial-text{
        font-size: 0.75625rem;
    }
    .workout-videos{
        width: 41.33%;
        height: 12.6003%;
        top: 8.09%;
        right: 3.6515%;
        border-radius: 9.07px;
    }
    
    .workout-title{
        font-size: 1.89rem;
    }
    
    .workout-text{
        font-size: 0.614375rem;
    }


    /* ****Habit Section Related Styles**** */
    /* .habit-section{
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    } */

    .habit-intros{
        margin-bottom: 18.23%;
        width: 94.08%;
    } 

    .habit-container{
        width: 100%;
        grid-template-columns: repeat(1, 68.3431%);
        justify-content: center;
        gap: 40px;
    }

    .habit-display{
        margin-bottom:16.66%;
        width: 77.92%;
        aspect-ratio: 1;
    }
    
}




